.container{
    margin: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.navmodal{
    margin: 2;
    padding: 2;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(4, 66, 82);
    color: white;
    
 }
.btn-primary{
    margin:7px;
 }
 .card{
     text-align: center;
 } 
 .body{
     background-color:#ADF6EA ;
 }
/* .cardbody{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
} */
.modal-footer{
    display:flex;
    flex-direction: row;
    justify-content: right;
}
.table-hover{
    text-align: center;
}
    

  